#lib
bin
obj
setcolor.cpp

# Compiled Object files
*.slo
*.lo
*.o

#only for codeblocks
*.cbp
*.depend
*.layout

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

others
*.*~
*.pub
*key
*key2
